# Laravel & PHP
/vendor
/node_modules
/.idea
/.vscode
/.fleet
/.zed
/.nova
.phpunit.result.cache
.phpactor.json
.phpunit.cache
Homestead.json
Homestead.yaml
.env
.env.*
.env.backup
.env.production

# System files
.DS_Store
Thumbs.db

# Storage
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/pail

# Public builds
/public/build
/public/hot
/public/storage
