.frameParent {
  width: 45%;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 55px;
  background-color: #fff;
  height: 772px;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
.choMngTrLiParent {
  position: absolute;
  width: 100%;
  top: 40px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
  font-size: 48px;
  font-weight: bold;
}
.choMngTr {
  width: 100%;
  align-self: stretch;
  position: relative;
}
.ngNhp {
  align-self: stretch;
  position: relative;
  font-size: 32px;
  font-weight: 500;
}
.frameGroup {
  position: absolute;
  width: 100%;
  top: calc(50% - 168.33px);
  right: 0px;
  left: 0px;
  height: 302px;
  color: #8d8d8d;
}
.inputParent {
  position: absolute;
  width: calc(100% - 120px);
  top: 0px;
  right: 60px;
  left: 60px;
  height: 100px;
}
.input {
  position: absolute;
  width: 100%;
  top: 34px;
  right: 0px;
  left: 0px;
  border-radius: 22px;
  border: 2px solid rgba(141, 141, 141, 0.5);
  box-sizing: border-box;
  height: 66px;
}
.lucideuserRoundParent {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 227px;
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 227px;
}
.lucideuserRoundIcon {
  width: 24px;
  position: relative;
  height: 24px;
}
.tiKhon {
  position: relative;
  font-weight: 500;
}
.frameContainer {
  position: absolute;
  width: calc(100% - 120px);
  top: 141px;
  right: 60px;
  left: 60px;
  height: 96px;
}
.lucidelockKeyholeParent {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 227px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.inputGroup {
  position: absolute;
  width: 100%;
  top: 30px;
  right: 0px;
  left: 0px;
  height: 66px;
}
.input2 {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  border-radius: 22px;
  border: 2px solid rgba(133, 133, 133, 0.72);
  box-sizing: border-box;
  height: 66px;
}
.lucideeyeIcon {
  position: absolute;
  top: 16px;
  right: 29px;
  width: 34px;
  height: 34px;
}
.qunMtKhu {
  position: absolute;
  top: 278px;
  right: 60px;
  width: 155px;
  height: 24px;
  color: #6d0236;
}
.qunMtKhu2 {
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: underline;
  font-weight: 500;
}
.button {
  position: absolute;
  width: calc(100% - 120px);
  top: calc(50% + 192.33px);
  right: 60px;
  left: 60px;
  border-radius: 22px;
  background-color: #fdbf00;
  height: 71px;
  overflow: hidden;
  font-size: 32px;
}
.submit {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
}
.ngKNgayParent {
  position: absolute;
  top: calc(50% + 322px);
  left: calc(50% - 156.5px);
  width: 313px;
  height: 24px;
  color: #6d0236;
}
.ngKNgay {
  position: absolute;
  top: 0px;
  left: 184px;
  text-decoration: underline;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.chaCTi {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 500;
  color: #000;
}
